<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        
	</startup>

	<connectionStrings>
		<!--<add name="Con_forensic" connectionString="Data Source=DESKTOP-AD28DLV;Initial Catalog=Forensic;Integrated Security=True"/>-->
		<add name="Con_forensic" connectionString="Data Source=58.65.176.128, 7474;Initial Catalog=Forensic;User ID=cdrapp;Password=Cisco$$$54321" />
	</connectionStrings>
</configuration>